<main class="main">
    <div class="register-box">
        <h2>ĐẶT LẠI MẬT KHẨU </h2>
        <form id="loginForm">
            <input name="username" placeholder="Mật khẩu mới*" required type="text"/>
            <input name="password" placeholder="Xác nhận lại mật khẩu*" required type="password"/>
    
            <button type="submit"> <a href="dangnhap.html">Xác nhận</a> </button>
        </form>

        <i>
            <p> Bạn chưa có tài khoản? <a href="dangky.html" target="_blank">Đăng ký ngay</a></p>
        </i>
    </div>
</main>