<main class="main">
    <div class="register-box">
    
        <form id="loginForm">
            Chúng tôi đã gửi mã cho bạn, hãy kiểm tra và nhập mã vào ô dưới dây
            <input name="username" placeholder="OTP*" required type="text"/>
           
       
            <button type="submit">XÁC NHẬN</button>
        </form>

        <i>
            <p> Chưa nhận được mã? <a href="quenmatkhau1.html" target="_blank">Gửi lại mã</a></p>
        </i>
        <i>
            <p>Sai thông tin tài khoản? <a routerLink="/forgot/step1" target="_blank">Đổi email/số diện thoại </a></p>
        </i>
    </div>
</main>