
    <header>
        <img src="http://localhost:3000/image/Posts/Post/Banner%20B%C3%A0i%20Vi%E1%BA%BFt" alt="Banner Bài Viết" class="header-banner">
    </header>
    <div class="container">
        <h1>Danh Sách Bài Viết</h1>

        <ul class="article-list">
            <li>
                <a routerLink="/post/1">
                    <img class="image" src="http://localhost:3000/image/Posts/Post/LEGO-REVIEW-ARCHITECTURE-SINGAPORE" alt="Singapore Lego">
                    <h2>Review Set – Lego Architecture 21057 – Singapore 827pcs – Saigon Brick</h2>
                    <p class="info">Ngày đăng: 17/03/2025 | Tác giả: Group 3</p>
                    <p>Khám phá bộ Lego Architecture 21057 với 827 mảnh ghép, tái hiện các công trình nổi tiếng của Singapore như Marina Bay Sands và Supertree Grove.</p>
                </a>
            </li>

            <li>
                <a routerLink="/post/1">
                    <img class="image" src="http://localhost:3000/image/Posts/Post/Wekki-Panda-Astronaut-506503-2048x1152" alt="Panda Astronaut Lego">
                    <h2>Review Set – Lego Wekki Panda Astronaut 800PCS – Gấu phi hành gia</h2>
                    <p class="info">Ngày đăng: 17/03/2025 | Tác giả: Group 3</p>
                    <p>Bộ Lego Wekki Panda Astronaut mang đến cho bạn một chú gấu trúc trong bộ đồ phi hành gia, đầy màu sắc và sáng tạo.</p>
                </a>
            </li>

            <!-- Thêm các bài viết khác ở đây -->
            <li>
                <a routerLink="/post/2">
                    <img class="image" src="http://localhost:3000/image/Posts/Post/10290_alt12" alt="Pickup Truck Lego">
                    <h2>Review Set – Lego Creator Expert 10290 – Pickup Truck 1682PCS</h2>
                    <p class="info">Ngày đăng: 17/03/2025 | Tác giả: Group 3</p>
                    <p>Bộ Lego Creator Expert Pickup Truck mang đến cho bạn một chiếc xe tải đầy chi tiết và tính năng, là một món đồ chơi tuyệt vời cho người yêu xe cộ.</p>
                </a>
            </li>
        </ul>
    </div>
