<header>
    <h1>LEGO TALK</h1>
</header>
<br>
<!-- Container lớn ở giữa -->
<div class="container">
    <!-- Cột 1 -->
    <div class="column">
        <div class="box"> <img alt="About us"  src="http://localhost:3000/image/About-us/About/About-us" width="350px" ></div>
        <div class="box">
            <h2>VỀ CHÚNG TÔI</h2>
            <p>LEGOTALK là một địa chỉ uy tín chuyên cung cấp các bộ 
                Lego chính hãng, đa dạng và phong phú, phục vụ cho 
                mọi lứa tuổi và nhu cầu. Tại LEGOTALK, bạn sẽ tìm thấy 
                những bộ Lego chất lượng cao, từ các mô hình đơn giản 
                cho trẻ em đến các bộ phức tạp cho người lớn, giúp 
                phát triển tư duy sáng tạo, khả năng giải quyết vấn đề 
                và thư giãn hiệu quả. </p>
        </div>
    </div>
    
    <!-- Cột 2 -->
    <div class="column">
        <div class="box"> <img alt="About us"  src="http://localhost:3000/image/About-us/About/Commitment" width="350px"> </div>
        <div class="box">
            <h2>CAM KẾT</h2>
            <p>Với dịch vụ chăm sóc khách hàng tận tình và 
                giao hàng nhanh chóng, LEGOTALK cam kết 
                mang đến cho khách hàng những trải nghiệm 
                mua sắm tuyệt vời và sản phẩm đẳng cấp, 
                an toàn và bền bỉ.</p>
        </div>
    </div>
</div>

<!-- Bảng 4 cột và 2 ô mỗi cột -->
<div class="table-container">
    <table>
        <tr>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Characteristic/1" width="100px" ></td>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Characteristic/2" width="100px" ></td>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Characteristic/3" width="100px" ></td>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Characteristic/4" width="100px" ></td>
        </tr>
        <tr>
            <td class="table-box"><h4>Sáng Tạo</h4></td>
            <td class="table-box"><h4>Giải Trí</h4></td>
            <td class="table-box"><h4>Phối Hợp</h4></td>
            <td class="table-box"><h4>Vui Vẻ</h4></td>
        </tr>
    </table>
</div>
<div class="table-container">
    <table>
        <!-- Hàng mới với 4 cột gộp -->
        <tr>
            <td colspan="5" class="table-box">
                <h2>Thành Viên Nhóm</h2> <!-- Tiêu đề của hàng mới -->
            </td>
        </tr>
        
        <!-- Hàng thứ hai với các ảnh -->
        <tr>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Member/Dung" width="100px" ></td>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Member/Quan" width="100px" ></td>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Member/Nhi" width="100px" ></td>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Member/Trinh" width="100px" ></td>
            <td class="table-box"> <img src="http://localhost:3000/image/About-us/Member/An" width="100px" ></td>
        </tr>

        <!-- Hàng thứ ba với tiêu đề -->
        <tr>
            <td class="table-box"><h4>Thùy Dung</h4></td>
            <td class="table-box"><h4>Tuyết Quân</h4></td>
            <td class="table-box"><h4> Yến Nhi</h4></td>
            <td class="table-box"><h4>Quốc Trịnh</h4></td>
            <td class="table-box"><h4>Thanh An </h4></td>
            
        </tr>
    </table>
</div>
<!-- Đoạn mã cho phần đăng ký -->
<div class="signup-container">
<div class="signup-content">
    <h3>Đăng ký ngay</h3>
    <h4>để nhận ưu đãi của legotalk</h4>
    <div class="signup-input">
        <input type="email" placeholder="Nhập email của bạn" id="email" required>
        <button id="submit" class="signup-btn">OK</button>
    </div>
</div>
<div class="signup-image-right">
    <img src="http://localhost:3000/image/About-us/Register/1" alt="Lego" />
</div>
<div class="signup-image-bottom">
    <img src="http://localhost:3000/image/About-us/Register/2" alt="Lego" />
</div>
</div>