<main class="main">
    <div class="register-box">
        <h2>Quên mật khẩu</h2>
        <form id="loginForm">
            <p style="text-align: left; font-size: 10pt;">Nhập email hoặc số điện thoại bạn đã đăng ký, LEGO TALK sẽ gửi mã xác nhận
                để bạn đặt lại mật khẩu mới </p> 
            <input name="username" placeholder="Email hoặc số điện thoại*" required type="text"/>
           
       
            <button type="submit">GỬI MÃ</button>
        </form>

        <i>
            <p> Bạn chưa có tài khoản? <a href="dangky.html" target="_blank">Đăng ký ngay</a></p>
        </i>
    </div>
</main>
