
@{
    ViewBag.Title = "Danhsachnhanvien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-success mt-1">
    <div class="card-header border-transparent">
        <h3 class="card-title"><i class="fas fa-th mr-1"></i>Danh Sách Nhân Viên</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 mt-3">
        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" [width]="100" class="text-center">ID</th>
                        <th scope="col" [width]="200" class="text-center">Mã Nhân Viên</th>
                        <th scope="col" [width]="200" class="text-center">Tên Nhân Viên</th>
                        <th scope="col" [width]="200" class="text-center">Ngày Sinh</th>
                        <th scope="col" [width]="200" class="text-center">Địa Chỉ</th>
                        <th scope="col" [width]="200" class="text-center">Giới Tính</th>
                        <th scope="col" [width]="200" class="text-center">Email</th>
                        <th scope="col" [width]="200" class="text-center">Chức Vụ</th>
                        <th scope="col" [width]="200" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">NV001</td>
                        <td class="text-center">Nhân Viên A</td>
                        <td class="text-center">12/10/1998</td>
                        <td class="text-center">Sài Gòn</td>
                        <td class="text-center">Nam</td>
                        <td class="text-center">nhanviena@gmail.com</td>
                        <td class="text-center">Admin</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">NV002</td>
                        <td class="text-center">Nhân Viên B</td>
                        <td class="text-center">12/09/1993</td>
                        <td class="text-center">Hà Nội</td>
                        <td class="text-center">Nữ</td>
                        <td class="text-center">nhanvienb@gmail.com</td>
                        <td class="text-center">Nhân Viên</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="text-center">NV003</td>
                        <td class="text-center">Nhân Viên C</td>
                        <td class="text-center">12/02/1995</td>
                        <td class="text-center">Lâm Đồng</td>
                        <td class="text-center">Nam</td>
                        <td class="text-center">nhanvienc@gmail.com</td>
                        <td class="text-center">Nhân viên</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td class="text-center">NV004</td>
                        <td class="text-center">Nhân Viên D</td>
                        <td class="text-center">12/10/1999</td>
                        <td class="text-center">Long An</td>
                        <td class="text-center">Nữ</td>
                        <td class="text-center">nhanviend@gmail.com</td>
                        <td class="text-center">Nhân Viên</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>