
@{
    ViewBag.Title = "Danhsachkhachhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-success mt-1">
    <div class="card-header border-transparent">
        <h3 class="card-title"><i class="fas fa-th mr-1"></i>Danh Sách Khách Hàng</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 mt-3">
        <div class="table-responsive">
           
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" [width]="100" class="text-center">ID</th>
                        <th scope="col" [width]="200" class="text-center">Mã Khách Hàng</th>
                        <th scope="col" [width]="200" class="text-center">Tên Khách Hàng</th>
                        <th scope="col" [width]="200" class="text-center">Địa Chỉ</th>
                        <th scope="col" [width]="200" class="text-center">Số Điện Thoại</th>
                        <th scope="col" [width]="200" class="text-center">Số Tài Khoản</th>
                        <th scope="col" [width]="200" class="text-center">Email</th>
                        <th scope="col" [width]="200" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">KH001</td>
                        <td class="text-center">Khách Hàng A</td>
                        <td class="text-center">Sài Gòn</td>
                        <td class="text-center">0976972771</td>
                        <td class="text-center">5403205065641</td>
                        <td class="text-center">khachhanga@gmail.com</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">KH002</td>
                        <td class="text-center">Khách Hàng B</td>
                        <td class="text-center">Đồng Nai</td>
                        <td class="text-center">0976972778</td>
                        <td class="text-center">540340305065641</td>
                        <td class="text-center">khachhangb@gmail.com</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="text-center">KH003</td>
                        <td class="text-center">Khách Hàng C</td>
                        <td class="text-center">Long An</td>
                        <td class="text-center">0976972771</td>
                        <td class="text-center">5403205065641</td>
                        <td class="text-center">khachhangc@gmail.com</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td class="text-center">KH004</td>
                        <td class="text-center">Khách Hàng D</td>
                        <td class="text-center">Lâm Đồng</td>
                        <td class="text-center">0976972771</td>
                        <td class="text-center">5403205065641</td>
                        <td class="text-center">khachhangd@gmail.com</td>
                        <td class="text-center">
                            <button class="btn btn-warning mx-3">Thêm mới</button>
                            <button class="btn btn-info">Sửa</button>
                            <button class="btn btn-danger mx-3">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
</div>

