
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="slImg" class="carousel slide mt-1" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#slImg" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#slImg" data-bs-slide-to="1" aria-label="slide 2"></button>
        <button type="button" data-bs-target="#slImg" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#slImg" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/banner/banner1.png" class="d-block w-100" alt="1.jpg" width="100px" height="500px">
            <div class="carousel-caption">
                <h1></h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/banner/banner2.jpg" class="d-block w-100" alt="2.jpg" width="100px" height="500px">
        </div>

        <div class="carousel-item">
            <img src="assets/img/banner/banner3.jpg" class="d-block w-100" alt="3.jpg" width="100px" height="500px">
        </div>

        <div class="carousel-item">
            <img src="assets/img/banner/banner1.png" class="d-block w-100" alt="4.jpg" width="100px" height="500px">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slImg" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span> </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slImg" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span> </button>
</div>

<div class="row mt-1">
    <h2 style="text-align: center;">THÔNG KÊ CHI TIẾT</h2>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>8</h3>
                <p>SẢN PHẨM</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>8</h3>
                <p>HÓA ĐƠN</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>8</h3>
                <p>KHÁCH  HÀNG</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>8</h3>
                <p>NHÂN VIÊN</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
</div>
